{
  "root": true,
  "extends": ["@conten2/eslint-config", "plugin:ava/recommended"],
  "rules": {
    "no-shadow": 1,
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "unicorn/filename-case": [
      2,
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": ["@conten2/eslint-config-typescript"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/explicit-function-return-type": 0
      }
    }
  ]
}
