{
  "root": true,
  "extends": [
    "@conten2/eslint-config-typescript",
    "@conten2/eslint-config/+ava"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": { "@typescript-eslint/no-magic-numbers": [1, { "ignore": [0, 1] }] }
}
